<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form">
      <div class="card-body">
        <div class="form-group">
          <label for="titreuserstory">Titre</label>
          <input type="text" class="form-control" id="text" placeholder="Titre de userstory">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="text" placeholder="Description">
        </div>

        <div class="form-group">
            <label for="Comentaire">Comentaire</label>
            <input type="text" class="form-control" id="text" placeholder="Comentaire">
        </div>

        <div class="form-group">
          <label for="inputEstimatedBudget">Duree</label>
          <input type="number" id="inputEstimatedBudget" class="form-control" value="1" step="1">
        </div>

        <!-- Date dd/mm/yyyy -->
        <div class="form-group">
          <label>Date masks:</label>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

        <!-- Date mm/dd/yyyy -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy" data-mask="" im-insert="false">
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->

      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>